.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

.idea/libraries/ComAndroidSupportRecyclerviewV72520_aar.xml
.idea/libraries/ComAndroidSupportSupportCompat2520_aar.xml
.idea/libraries/ComAndroidSupportRecyclerviewV72600Alpha1_aar.xml
.idea/libraries/ComAndroidSupportSupportCompat2600Alpha1_aar.xml
.idea/libraries/ComAndroidSupportSupportCoreUi2520_aar.xml
.idea/libraries/ComAndroidSupportSupportCoreUi2600Alpha1_aar.xml
.idea/libraries/Gradle__ComAndroidSupportRecyclerviewV72520_aar.xml
.idea/libraries/Gradle__ComAndroidSupportRecyclerviewV72600Alpha1_aar.xml
.idea/libraries/Gradle__ComAndroidSupportSupportCompat2520_aar.xml
.idea/libraries/Gradle__ComAndroidSupportSupportCompat2600Alpha1_aar.xml
.idea/libraries/Gradle__ComAndroidSupportSupportCoreUi2520_aar.xml
.idea/libraries/Gradle__ComAndroidSupportSupportCoreUi2600Alpha1_aar.xml
.idea/libraries/Gradle__support_annotations_25_2_0.xml
.idea/libraries/Gradle__support_annotations_26_0_0_alpha1.xml
.idea/libraries/support_annotations_25_2_0.xml
.idea/libraries/support_annotations_26_0_0_alpha1.xml
.idea/misc.xml
.idea/misc.xml